.game-container{
    width: 500px;
    height: 730px;
    position: absolute;
}

.game-container img{
    width: 500px;
    height: 680px;
    position: fixed;
}

.sky{
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground{
    background-color: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    top:500px;
}

.bird{
    position: absolute;
	height: 60px;
    width: 60px;
}
.bird img{
    height: 70px;
    width: 70px;
}

.obstacleUp {
    position: absolute;
}

.obstacleUp img {
    height: 200px;
    width: 50px;
    transform: scaleX(-1);
}

.obstacleDown {
    top:400px;
    position: absolute;
}

.obstacleDown img{
    height: 180px;
    width: 50px;
}

.display{
    background-color: #ebfff9;
    height: 50px;
    width: 500px;
    position: absolute;
	display: flex;
	font-family:Calibri;
}

.display h1{
	align-self: center;
	justify-content: center;
}